$primary-color: #64ff00;
 
:export {
  primaryColor: $primary-color;
}

$font-family_1: var(--font-mono);
$background-color_1: rgba(var(--callout-rgb), 0.5);

/* Enable hover only on non-touch devices */
/* Mobile */
/* Tablet and Smaller Desktop */
@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}
.description {
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	font-size: 0.85rem;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
	font-family: $font-family_1;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
	}
	p {
		position: relative;
		margin: 0;
		padding: 1rem;
		background-color: $background-color_1;
		border: 1px solid rgba(var(--callout-border-rgb), 0.3);
		border-radius: var(--border-radius);
	}
}
.code {
	font-weight: 700;
	font-family: $font-family_1;
}
.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(25%, auto));
	max-width: 100%;
	width: var(--max-width);
}
.card {
	padding: 1rem 1.2rem;
	border-radius: var(--border-radius);
	background: rgba(var(--card-rgb), 0);
	border: 1px solid rgba(var(--card-border-rgb), 0);
	transition: background 200ms, border 200ms;
	span {
		display: inline-block;
		transition: transform 200ms;
	}
	h2 {
		font-weight: 600;
		margin-bottom: 0.7rem;
	}
	p {
		margin: 0;
		opacity: 0.6;
		font-size: 0.9rem;
		line-height: 1.5;
		max-width: 30ch;
	}
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 4rem 0;
	&::before {
		background: var(--secondary-glow);
		border-radius: 50%;
		width: 480px;
		height: 360px;
		margin-left: -400px;
		content: '';
		left: 50%;
		position: absolute;
		filter: blur(45px);
		transform: translateZ(0);
	}
	&::after {
		background: var(--primary-glow);
		width: 240px;
		height: 180px;
		z-index: -1;
		content: '';
		left: 50%;
		position: absolute;
		filter: blur(45px);
		transform: translateZ(0);
	}
}
.logo {
	position: relative;
}
@media (hover: hover) and (pointer: fine) {
	.card {
		&:hover {
			background: rgba(var(--card-rgb), 0.1);
			border: 1px solid rgba(var(--card-border-rgb), 0.15);
			span {
				transform: translateX(4px);
			}
		}
	}
}
@media (prefers-reduced-motion) {
	.card {
		&:hover {
			span {
				transform: none;
			}
		}
	}
}
@media (max-width: 700px) {
	.content {
		padding: 4rem;
	}
	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}
	.card {
		padding: 1rem 2.5rem;
		h2 {
			margin-bottom: 0.5rem;
		}
	}
	.center {
		padding: 8rem 0 6rem;
		&::before {
			transform: none;
			height: 300px;
		}
	}
	.description {
		font-size: 0.8rem;
		a {
			padding: 1rem;
		}
		p {
			display: flex;
			justify-content: center;
			position: fixed;
			width: 100%;
			align-items: center;
			inset: 0 0 auto;
			padding: 2rem 1rem 1.4rem;
			border-radius: 0;
			border: none;
			border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
			background: linear-gradient( to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5) );
			background-clip: padding-box;
			backdrop-filter: blur(24px);
		}
		div {
			display: flex;
			justify-content: center;
			position: fixed;
			width: 100%;
			align-items: flex-end;
			pointer-events: none;
			inset: auto 0 0;
			padding: 2rem;
			height: 200px;
			background: linear-gradient( to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40% );
			z-index: 1;
		}
	}
}
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}
@media (prefers-color-scheme: dark) {
	.vercelLogo {
		filter: invert(1);
	}
	.logo {
		filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
	}
}

.container {
  width: 100%;
  padding-right: 1rem/* 16px */;
  padding-left: 1rem/* 16px */;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 2rem/* 32px */;
    padding-left: 2rem/* 32px */;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 3rem/* 48px */;
    padding-left: 3rem/* 48px */;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 4rem/* 64px */;
    padding-left: 4rem/* 64px */;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 5rem/* 80px */;
    padding-left: 5rem/* 80px */;
  }
}

.flex {
	display: flex;
}
.flex_col {
	flex-direction: column;
}
.gap_6 {
	gap: 1.5rem;
}
.gap_16 {
	gap: 4rem;
}
.inline_flex {
	display: inline-flex;
}
.w_screen {
	width: 100vw;
}
.py_24 {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.justify_center {
  justify-content: center;
}
.items_center {
  align-items: center;
}
.items_start {
  align-items: flex-start;
}

.grid {
  display: grid;
}

.grid_cols_1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .grid_cols_2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.gap_24 {
  gap: 6rem;
}

.py_24 {
  padding-top: 6rem/* 96px */;
  padding-bottom: 6rem/* 96px */;
}
.w_full {
  width: 100%;
}

.responsive {
  width: auto;
  height: 50%;
}
.h_auto {
  height: auto;
}
.rounded_3xl {
  border-radius: 1.5rem/* 24px */;
}
@media (min-width: 768px) {
  .order_last {
    order: 9999;
  }
}

.gap_4 {
  gap: 1rem/* 16px */;
}

.flex_item {
  flex: 1 1 0;
  width: 0;
}

.px_2 {
	padding-left: 2em;
	padding-right: 2em;
}

.textCenter {
	text-align: center;
}

.w_50 {
	width: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}